@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),
    url('pxfuel.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    
}


h2{
    font-size: 2em;
    color:#fff;
    align-items: center;
    margin-top: -40px;
}



@media(max-width:360px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input-box{
        width: 290px;
    }
}

.file-input-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    
}
.file-input-box h2{
    margin-bottom: 60px;
}
.upload{
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 5000;
    margin-left: 80px;
    margin-top: 30px;
    padding: 20px;

}

input{
    display: none;
}
#imgPreview{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 4%;
    left: 8%;
    border-radius: 55px;
   
}
.bh{

    position: relative;
    font-size: 1.1rem;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 30px;
    padding: 20px;
}
.bh a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.bh a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}